<h1>Pages#info</h1>
<body>I am the person who is way smarter than they act, think, or behave. It shows when I'm busy failing at life because I miss part of the step in the procedure. Also typoes are my friends. Or should I spell that freinds?
<p>Find me in app/views/pages/info.html.erb</p>
